:root {
  --clr-blue: hsl(220, 98%, 61%);

  --clr-logo: hsl(0, 0%, 100%);
  --clr-caret-color: hsl(220, 98%, 61%);
}

[data-theme="light"] {
  --clr-background: hsl(0, 0%, 98%);
  --clr-border: hsl(236, 33%, 92%);

  --clr-wrapper-background: hsl(0, 0%, 100%);
  --clr-wrapper-shadow: hsla(237, 20%, 80%, 0.5);

  // Text colors
  --clr-task-text: hsl(235, 19%, 35%);
  --clr-text-strikethrough: hsl(233, 11%, 84%);

  --clr-action-text: hsl(236, 9%, 61%);
  --clr-action-hover: hsla(235, 19%, 35%);

  --clr-input-text: hsl(237, 14%, 26%);
  --clr-input-placeholder: hsl(235, 9%, 61%);
}

[data-theme="dark"] {
  --clr-background: hsl(235, 21%, 11%);
  --clr-border: hsl(237, 14%, 26%);

  --clr-wrapper-background: hsl(235, 24%, 19%);
  --clr-wrapper-shadow: rgba(0, 0, 0, 0.5);

  // Text colors
  --clr-task-text: hsl(234, 39%, 85%);
  --clr-text-strikethrough: hsl(233, 14%, 35%);

  --clr-action-text: hsl(235, 16%, 43%);
  --clr-action-hover: hsl(236, 33%, 92%);

  --clr-input-text: hsl(234, 39%, 85%);
  --clr-input-placeholder: hsl(234, 11%, 52%);
}
