@use "./abstracts/colors" as *;
@use "./base" as *;
@use "./components/index" as *;
@use "./utilities/container" as *;

.App {
  min-height: 100vh;

  padding-top: 70px;
  padding-bottom: 50px;

  background-color: var(--clr-background);
  background-image: url(../../../public/images/bg-desktop-light.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;

  &[data-theme="dark"] {
    background-image: url(../../../public/images/bg-desktop-dark.jpg);
  }

  @media only screen and (max-width: 480px) {
    padding-top: 48px;

    background-image: url(../../../public/images/bg-mobile-light.jpg);

    &[data-theme="dark"] {
      background-image: url(../../../public/images/bg-mobile-dark.jpg);
    }
  }
}

.hint {
  margin-top: 49px;

  color: var(--clr-action-text);

  @media only screen and (max-width: 480px) {
    margin-top: 40px;
  }
}

.no-focus * {
  outline: none;
}
