@use "./abstracts/colors" as *;
@use "./base" as *;
@use "./components/index" as *;
@use "./utilities/container" as *;

.App {
  min-height: 100vh;

  padding-top: 70px;
  padding-bottom: 50px;

  background-color: var(--clr-background);
  background-image: url(../../../public/images/bg-desktop-light.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;

  &[data-theme="dark"] {
    background-image: url(../../../public/images/bg-desktop-dark.jpg);
  }
}

.form {
  display: flex;
  align-items: center;

  margin-bottom: 24px;

  border-radius: 5px;

  background-color: var(--clr-wrapper-background);
  box-shadow: 0px 35px 50px -15px var(--clr-wrapper-shadow);
}

.form__checkbox-wrapper {
  margin: 20px 24px;
}

.form__input {
  padding: 20px 24px 20px 0px;
}

.hint {
  margin-top: 49px;

  color: var(--clr-action-text);
}

.no-focus * {
  outline: none;
}
