.filters {
  display: flex;

  & > * + * {
    margin-left: 18px;
  }
}

.filters-mobile-wrapper {
  display: flex;
  justify-content: center;

  padding: 17px 80.5px;
  margin-top: 16px;

  border-radius: 5px;

  color: var(--clr-action-text);
  background-color: var(--clr-wrapper-background);
  box-shadow: 0px 35px 50px -15px rgba(0, 0, 0, 0.5);
}

.filter {
  &.active > button {
    color: var(--clr-blue);
  }
}
