.task {
  display: flex;
  align-items: center;

  padding: 20px 24px;

  border-bottom: solid 1px var(--clr-border);

  color: var(--clr-task-text);

  & > * + * {
    margin-left: 24px;

    @media only screen and (max-width: 480px) {
      margin-left: 12px;
    }
  }

  &.completed {
    .task__text {
      text-decoration: line-through;
      color: var(--clr-text-strikethrough);
    }
  }

  &:hover {
    .task__cross {
      opacity: 1;
    }
  }

  @media only screen and (max-width: 480px) {
    padding: 16px 20px;
  }
}

.task--empty {
  display: flex;
  justify-content: center;

  color: var(--clr-action-text);
}

.task__cross {
  width: 18px;
  height: 18px;

  opacity: 0;

  margin-left: auto;

  &:hover,
  &:focus {
    opacity: 1;

    & path {
      fill: var(--clr-action-hover);
    }
  }

  @media only screen and (max-width: 480px) {
    width: 12px;
    height: 12px;
  }
}
