html {
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
}

.header__logo {
  font-weight: bold;
  font-size: 40px;

  letter-spacing: 15px;

  text-transform: uppercase;
}

.task,
.new-task__input {
  letter-spacing: -0.25px;
}

.hint,
.tasks__footer-list {
  font-size: 14px;

  text-align: center;
  letter-spacing: -0.195px;
}

.tasks__sort-list {
  font-weight: 700;
}
